@model UpdateAboutDTO
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
}


<div class="col-md-12">
    <div class="chart-box">
        <h4>Category Table</h4>
        <p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
        <div class="bs-example" data-example-id="bordered-table">
            <form method="post" action="/admin/About/Update">
                <input type="hidden" name="Id" value="@Model.Id" />
                <br />
                <p>Title</p>
                <input type="text" name="Title" value="@Model.Title" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2" />
                <br />
                <p>Description</p>
                <input type="text" name="Description" value="@Model.Description" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2" />
                <br />
                <p>Adress</p>
                <input type="text" name="Adress" value="@Model.Adress" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2" />
                <br /> 
                <p>Email</p>
                <input type="text" name="Email" value="@Model.Email" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2" />
                <br />
                <p>PhoneNo</p>
                <input type="text" name="PhoneNo" value="@Model.PhoneNo" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2" />
                <br />

                <input type="submit" value="Update" class="btn btn-primary" />

            </form>

        </div>
    </div>
</div>

