@model UpdateFeatureSliderDTO
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
}


<div class="col-md-12">
    <div class="chart-box">
        <h4>FeatureSlider Table</h4>
        <p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
        <div class="bs-example" data-example-id="bordered-table">
            <form method="post" action="/admin/FeatureSlider/Update">
                <input type="hidden" name="Id" value="@Model.Id" />
                <br />
                <p>Title</p>
                <input type="text" name="Title" value="@Model.Title" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2" />
                <br />
                <p>Description</p>
                <input type="text" name="Description" value="@Model.Description" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2" /> 
                <br />
                <p>ImageUrl</p>
                <input type="text" name="ImageUrl" value="@Model.ImageUrl" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2" />  
                <br />
                <p>Status</p>
                <select asp-for="@Model.Status" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2" >
                    <option value="1">True</option>
                    <option value="0">False</option>
                    </select>
                <br />

                <input type="submit" value="Update" class="btn btn-primary" />

            </form>

        </div>
    </div>
</div>
